/* Resetování základního vzhledu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nastavení základního vzhledu stránky */
body {
    font-family: "Merriweather", serif;
    background-color: rgb(255, 255, 204);
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: 60px; /* Přidá mezeru kolem loga */
    margin-bottom: 40px; /* Přidá mezeru kolem loga */
}

/* Alternativně, pokud chcete přidat mezery mezi celými sekcemi */
section.article {
    margin-bottom: 60px; /* Větší mezera mezi koncem jednoho článku a začátkem dalšího */
}

/* Styly pro odkazy */
a {
    color: black; /* Změna barvy odkazu na černou */
    text-decoration: none; /* Odstranění podtržení */
}

a:hover {
    text-decoration: underline; /* Podtržení při najetí myší */
}

/* Styly pro odstavce a nadpisy */
p {
    margin-bottom: 15px;
    line-height: 1.8;
    hyphens: auto; /* Povolení dělení slov podle potřeby */
    text-align-last: left; /* Poslední řádek zarovnaný k levé straně */
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.4;
}

.date {
    font-size: 12px; /* Menší velikost pro datum */
}

/* Styly pro nadpis h1 (název webu) */
h1 {
    font-size: 10em; /* Zvětšení velikosti písma pro název webu */
    text-align: left; /* Zarovnání vlevo */
    margin: 10px 0; /* Menší odsazení shora a zdola */
}

/* Styly pro obsah */
.content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Automatické zarovnání na střed s mezerou nahoře i dole */
    padding: 0 15px;
}

.container {
    max-width: 800px;  /* Maximální šířka pro text a obsah */
    margin: 0 auto;    /* Zarovnání kontejneru na střed */
    padding: 20px;
}

img {
    max-width: 100%;   /* Obrázek bude zabírat maximálně 100 % šířky svého rodiče */
    height: auto;      /* Zachování poměru stran obrázku */
}

.slideshow {
    width: 100%;
    max-width: 800px;
    height: auto;
    position: relative;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: slideshow 9s infinite; /* Animace přepínání obrázků */
}

.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 3s;
}

.slideshow img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slideshow {
    0% { opacity: 1; }
    33.33% { opacity: 0; }
    66.66% { opacity: 0; }
    100% { opacity: 1; }
}

/* Media query pro mobilní zařízení */
@media screen and (max-width: 768px) {
    .content {
        width: 100%; /* Větší šířka na mobilních zařízeních */
        margin: 0; /* Žádné mezery okolo obsahu */
        padding: 0 15px; /* Menší vnitřní mezery na mobilních zařízeních */
        font-size: 0.875em; /* Zmenšení velikosti písma na 14px, pokud základní velikost je 16px */
    }

    h1 {
        font-size: 5em; /* Menší velikost nápisu na mobilech */
        margin-top: 25px; /* Zvýšení mezery nad nadpisem pro mobilní zařízení */
        margin-bottom: 25px; /* Zvýšení mezery pod nadpisem pro mobilní zařízení */
    }
    
     .logo {
        margin-top: 40px; /* Přidá mezeru kolem loga */
        margin-bottom: 25px; /* Přidá mezeru kolem loga */
    }
}
