/* Resetování základního vzhledu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nastavení základního vzhledu stránky */
body {
    font-family: "Libre Baskerville", serif;
    background-color: rgb(255, 255, 204);
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

/* Styly pro odkazy */
a {
    color: black; /* Změna barvy odkazu na černou */
    text-decoration: none; /* Odstranění podtržení */
}

a:hover {
    text-decoration: underline; /* Podtržení při najetí myší */
}

/* Styly pro odstavce a nadpisy */
p {
    margin-bottom: 15px;
    line-height: 1.8;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Styly pro nadpis h1 (název webu) */
h1 {
    font-size: 10em; /* Zvětšení velikosti písma pro název webu */
    text-align: left; /* Zarovnání vlevo */
    margin: 10px 0; /* Menší odsazení shora a zdola */
}

/* Styly pro obsah */
.content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Automatické zarovnání na střed s mezerou nahoře i dole */
    padding: 0 15px;
}

/* Media query pro mobilní zařízení */
@media screen and (max-width: 768px) {
    .content {
        width: 95%;
        margin: 150px auto 20px auto; /* Menší mezera od horního okraje na mobilech */
    }

    h1 {
        font-size: 5em; /* Menší velikost nápisu na mobilech */
        margin-top: 5px; /* Menší odsazení shora na mobilu */
    }
}
